@import url("main.css");
@import url("login.css");
@import url("produto.css");

@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");

:root {
  --first-red: rgb(235, 3, 21);
  --smooth-black: rgb(66, 66, 66);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5px;
  min-height: 100%;
  position: relative;
}
body {
  background-color: rgb(240, 240, 240);
  font-family: "SUSE", sans-serif;
  box-sizing: border-box;
  height: 100%;
}

/* Body */

.dark-body::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.603);
  position: absolute;
  top: 0;
  left: 0;
}

.disable {
  display: none;
}

.disable-carrinho {
  visibility: hidden;
  transform: translateX(20px);
  opacity: 0;
  transition: 0.5s;
}

.disable-menu {
  visibility: hidden;
  transform: translateX(-20px);
  opacity: 0;
  transition: 0.5s;
}
